$headerBackground: url(../img/m-h-day.jpg);
$fontFamily: 'Fresca', sans-serif;
$fontFamilyLogo: 'Fresca', sans-serif;
$textColorHeader: #ffffff;
$buttonColorBackground: #e3ac00;
$underlineTextColor: #ff4e33;
$bgForSectionCard: #3b3f50;
$sectionBgGradient:linear-gradient(to right, rgb(218, 156, 9), rgb(125, 26, 65));
$bodyBackground: #21232e;