$headerBackground: url(../img/m-h-day.jpg);
$fontFamily: 'Source Sans Pro', sans-serif;
$fontFamilyLogo: 'Hind', sans-serif;
$textColorHeader: #2c2f3c;
$buttonColorBackground: #699900;
$underlineTextColor: #14a0c7;
$bgForSectionCard: #21232e;
$sectionBgGradient:linear-gradient(to right, rgb(86, 138, 6), rgb(33, 63, 212));
$bodyBackground: #ffffff;